* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(62,62,62,1) 50%, rgba(51,51,51,1) 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    margin: 0.5em 0;
}

.accordion {
    width: 90%;
    margin: auto;
    padding: 1em;
}

.list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4a4a;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: 700;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.082);
    
}

.content {
    overflow: hidden;
    max-height: 0;
    margin: 0.3em;
    transition: max-height .5s ease;
    
}

.img-mem {
    display: block;
    max-width: 50%;
    margin: 1em auto;
    border-radius: 5%;
    transform: scale(0, 0);
    transition: transform .5s ease;
}

.list .check{
    display: none;
} 

.list :checked ~ .list-title {
    color: #00ffff;
}

.list :checked ~ .content {    
    max-height: 16em;
}

.list :checked ~ .content .img-mem {
    transform: scale(1.7, 1);
}



.list-title span {
    display: block;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(69deg) brightness(110%) contrast(101%);
    width: 100%;
    max-width: 0.7em;
    height: 1em;
    background-image: url(img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0%;
    transition: transform  .5s ease;
}

.list :checked ~ .list-title span {
    filter: invert(93%) sepia(43%) saturate(4212%) hue-rotate(100deg) brightness(105%) contrast(101%);
    transform: rotate(-90deg);
    opacity: 100%;
}

@media (min-width: 820px) {
    body {
        font-size: 30px;
    }

    .accordion {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .content {
        max-height: 0;
    }

}

@media (min-width: 1080px) {
    body {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 26px;

    }
    .accordion {
        width: 50%;
        margin: 0 auto;
        cursor: pointer;
    }

    .content {
        max-height: 0;
    }

    .list-title {
        cursor: pointer;
    }

    .list:hover .content{
        max-height: 16em;
    }

    .list:hover span {
        transform: rotate(-90deg);
        opacity: 100%;
    }

    .list:hover .content .img-mem {
        transform: scale(1.7, 1);
    }

}