* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282828;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 25px 0;
}

.accordion {
    padding: 10px;
}

.list-title {
    display: flex;
    justify-content: space-between;
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 700;
}

.content {
    overflow: hidden;
    height: 0;
    margin: 10px;
    transition: height .5s ease;
    
}


.list .check,
.list-title span {
    display: none;
}
.list-title span {
    transition: transform .5s ease;
}


.list :checked + .list-title {
    color: aqua;
}
.list :checked ~ .content {
    height: 300px;
}

.list :checked ~ .list-title span {
    transform: rotate(45deg);
}


@media (min-width: 820px) {
    body {
        background-color: #282828;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;

    }
    .accordion {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

}

@media (min-width: 1080px) {
    body {
        background-color: #282828;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 26px;

    }
    .accordion {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        cursor: pointer;
    }

    .accordion:hover .list-title span{
        display: block;
    }

    .list-title {
        cursor: pointer;
    }

    .list:hover .content{
        height: 300px;
    }

    .list:hover span {
        transform: rotate(45deg);
    }

}